.navLinks{
    display: flex;
    justify-content: space-around;
}
.wolterHeader{
    text-align: center;
}

.story0:hover,.story1:hover,.story2:hover,.story3:hover,.story4:hover,.story5:hover{
    color: rgb(87, 145, 238);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color:burlywood;
}

.CompanyTitle{
    border: 2px solid black;
    width: 200px;
    text-align: center;

}
.CompanyTitle:hover{
    cursor: pointer;
    color: rgb(221, 212, 84);
    background-color: darkgray;
    
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    height: 700px;
    align-items: center;
    
    
}

.storyGrid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
   
}

