.navLinks{
    display: flex;
    justify-content: space-around;
    
}
.wolterHeader{
    text-align: center;
}

.story0:hover,.story1:hover,.story2:hover,.story3:hover,.story4:hover,.story5:hover{
    color: rgb(87, 145, 238);
    cursor: pointer;
}

.linkz {
    text-decoration: none;
    color: black;
}

.linkz:hover{
    color:burlywood;
}

.CompanyTitle{
    border: 2px solid black;
    width: 200px;
    text-align: center;
    width: fit-content;
    height: fit-content;

}
.CompanyTitle:hover{
    cursor: pointer;
    color: rgb(221, 212, 84);
    background-color: darkgray;
    
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    height: 600px;
    align-items: center;
    
    
}

.storyGrid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
   
}

.alink{
    text-decoration: none;
    color: black;
}

.alink:hover{
    color: rgb(80, 164, 237);
}

.borderImg{
    width: 300px;
    height: 250px;
}