.navlinks2{
    width: auto;
    display: flex;
    justify-content: space-around;
}
.wolterHeader{
    text-align: center;
}

.story0:hover,.story1:hover,.story2:hover,.story3:hover,.story4:hover,.story5:hover{
    color: rgb(87, 145, 238);
    cursor: pointer;
}

.linkz {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-around;
    
    
}

.linkz:hover{
    color:burlywood;
}

.CompanyTitle{
    border: 2px solid black;
    /* width: auto; */
    width: 200px;
    text-align: center;

}
.CompanyTitle:hover{
    cursor: pointer;
    color: rgb(221, 212, 84);
    background-color: darkgray;
    
}
.grid{
    box-sizing: border-box;
    display: grid;
   
    grid-template-columns: auto auto auto;
    height: 800px;
    width: 1200px;
    overflow-y: scroll;
    gap: 25px;
    margin-top: 50px;
    border: 1px solid black;
    justify-content: center;
    justify-content: space-around;
    
}

.storyGrid{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 1em;
    padding: 2em;
    
  
}

.storyTitle{
    height: 2em;
}

.storyImg{
    width: 100%;
}

.storyInfo{
    height: 1em;
    margin-top: 3em;
}

.sectorReport{
    grid-column: 3;
    grid-row: 1 ;
    margin-bottom: 30px;
}
.sectorTitle{
    text-align: center;
    text-decoration: underline;
}

.story1{
    grid-column: 1 / span 2;
}

.story6{
    grid-row: 2;
    grid-column: 1;
}

.story2{
    grid-column: 2;
}
.story5{
    grid-column: 3;
    grid-row: 3;
}
.ipoColumn{
    grid-column: 3;
    grid-row: 2;
    height: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ipoTitle{
    grid-column: 1;
    grid-row: 1 / span 2;
}
.ipo1{
    grid-column: 1;
    grid-row: 2;
}

.alink{
    text-decoration: none;
    color: black;
    

}

.alink:hover{
    color: rgb(80, 164, 237);
}

.borderImg{
   max-width: 100%;
   max-height: 100%;
}

.gridAlign{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.alink1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    color: black;
    
}
.alink1:hover{
    color: rgb(80, 164, 237);
}
.storyText{
    color: black;
    padding: 1em;
    
    
}
.storyTitle1{
   grid-row: 1;
   grid-column: 1 / span 2;
}
.storyInfo1{
    grid-column: 1;

}
.storyImg1{
    grid-column: 1;
}
.negative{
    color: red;
}
.positive{
    color: green;
}

.sector11{
    display: flex;
    margin-bottom: -15px;
    margin-left: 15px;
}
.sectorTitleChange{
    margin-right: 10px;
}

.markets{
    display: flex;
    justify-content: space-around;
}

